*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
img{
	height: 400px;
}
.col{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.menu{
	height: 300px;
	width:400px;
	margin:10px;
	background: ;
}
.image{
	width: 100%;
	height: 100%;
	box-shadow: 1px 3px 5px 3px #000000 ;
}
h4{ 
	background:#000000;
	color:#ffffff;
	width:100%;
	height: 20%;
	margin-top: -15%;
	font-family: sans-serif; 
}

iframe{
	width: 100%;
	height: 100%;
}
.main{
	height: 500px;
	width:100%;
}
.active{
	color:blue;
	background:black; 
}
.logo{position: relative;
	height:100px;
	width:100px;
}
.heading{
	font-family: cursive;
	color:linear-gradient(green,yellow);
	margin-left: 40%;
}
.nav-link{
	font-size:30px;
}
.cocntainer{
	margin-top:20px;
}
.collapse{margin-left: 30%;
text-align: center;}
h3{
	position:absolute;
	display: flex;
	float: right;
	margin-top: -6%;
	margin-left: 10%;
	font-size:2em;
	color:red;
	outline: white;
	text-shadow: 0 0 50px #0f0,
			             0 0 10px white,
			             0 0 150px white,
			             0 0 200px white,
	     	             0 0 250px white;	
	}
	h5{
		margin-top: 40px;
		margin-bottom: 
	}

@keyframes animate1{
			0%{ background:black;
				width:0%;}
			100%{ background:black;
				width:50%;}
		}
		@keyframes animate2{
			0%{ background:black;
				width:0%;}
			100%{ background:black;
				width:46%;}
		}
@media screen and (max-width: 911px){
	h3{
		font-size:150%;
		margin-top: -7%;
		margin-left: 15%;
	}
	

}

@media screen and (max-width: 769px){
	h3{
		font-size:150%;
		margin-top: -7%;
		margin-left: 15%;
	}
	.logo{
		height:70px;
		width:70px;
	}
	
	.col-sm,.col-md,.col-xl{
		padding-left:30px;
	}
	ul li a{
		color: white;
	}
}
.main-content1{
	width:50%;
	display: flex;
	float: right;
}
.mainImg1{

	width:50%;
	animation:animate1 3s 1;
    animation-delay: 2s;
	
}
.main-content2{
	width:49%;
	display: flex;
	float: left;
}
.mainImg2{
	width:45%;
		animation:animate2 3s 1;
		animation-delay: 5s;
}
.content1{
	width: 45%;
	display: flex;
	float: left;
	display:inline-block;
	margin-right:2%;
	margin-left: 2%;
}
.content2{
	width: 45%;
	display: flex;
	float: right;
	margin-left:2%;
	margin-right:2%;
	display:inline-block;
}
main{
width:100%;
height:500px;
margin-bottom: 40px;
overflow: hidden;
}
.heading1{
	text-align: center;
	color: red;
}

.vl{
	height:500px; 
	width:2px;
	display: inline-block;
	border:solid 1px red;
}

@media screen and (max-width: 769px){
	main{
		height:1000px;
	}
	.content1{
		width: 100%;
	}
	.content2{
		width:100%;
	}

	.main-content1{
	width:45%;
	margin-right: 5%;
}
.vl{
	display: none;
}
.mainImg1{
	width:50%;
	display: flex;
	float: left;
	border-right: 2px solid black
	
}
.main-content2{
	width:48%;
	margin-left: 4%;
	
}
.mainImg2{
	width:46%;
	display: flex;
	float: right;
	margin-right: 2px;
	border-left: 2px solid black

}
.collapse{margin-left:0%;
text-align: center;
}
.navbar-nav a{
	font-size:20px;
}
}
.navbar-nav a{ font-size:25px; }